<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
        <%= link_to user.name, user %>
        <ul>
            <li>
                Posts:
                <ul>
                    <% user.posts.each do |post| %>
                        <li>
                            <%= link_to post.body, post %>
                            <ul>
                                <li>
                                    Comments:
                                        <ul>
                                            <% post.comments.each do |comment| %>
                                                <li>
                                                    <%= comment.body %>

                                                </li>
                                            <% end %>
                                        </ul>
                                </li>
                            </ul>
                        </li>
                    <% end %>
                </ul>
            </li>
        </ul>
    </li>
  <% end %>
</ul>


<%= link_to "New User", new_user_path %>